#questions-view-container {
    flex-direction: column;
    width: 100%;
}

#question-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.card #question-text {
    padding: 1.5rem;
    min-height: 1em;
    color: var(--color-text-dark);
    font-weight: 900;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--color-border);
}
.card #alternatives-container {
    align-items: start;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

#current-question-top-display-container {
    color: white;
    background: var(--color-main);
    padding: 1rem;
    border-radius: 15px;
    width: fit-content;
    margin: -2rem auto 0 auto;
}

#current-question-top-display-container,
#current-question-top-display-bold,
#current-question-top-display-thin {
    display: flex;
    gap: 1rem;
}
#current-question-top-display-bold {
    font-weight: bold;
}
#current-question-top-display-thin {
    font-weight: 400;
}

#time-progress {
    display: grid;
    justify-items: center;
    align-items: center;
}
#time-progress > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

#time-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
}

#question-progress-bar {
    flex-grow: 1;
    width: 100%;
}

#question-progress-bar-container {
    margin: 1rem 0;
    overflow: hidden;
    border-radius: 5px;
    height: 10px;
    width: 100%;
}

#current-question-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

#curiosities-container {
    border: 1px solid var(--color-border);
    border-radius: 15px;
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    align-items: center;
    margin-top: 3rem;
}

#curiosities-header {
    font-weight: bold;
    color: var(--color-title);
    margin-bottom: 0.5rem;
}

#curiosities-icon {
    width: 1.5rem;
    margin: 0 0.25rem;
}

#curiosities-text {
    flex-grow: 1;
    color: var(--color-text-light);
}

#result-text-container {
    width: 100%;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 1rem 0;
}
#result-text-correct,
#result-text-wrong,
#result-text-timeout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}
#result-text-correct {
    color: var(--color-main);
}
#result-text-wrong {
    color: var(--color-alternative-letter-wrong);
}
#result-text-timeout {
    color: var(--color-alternative-letter-wrong);
}
#result-text-correct::before,
#result-text-wrong::before,
#result-text-timeout::before {
    font-size: 0;
    display: flex;
    aspect-ratio: 1 / 1;
}
#result-text-correct::before {
    content: url('@icons/check.svg');
    width: 10px;
    margin-right: 3px;
    filter: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(1456%) hue-rotate(52deg) brightness(87%) contrast(83%);
}
#result-text-wrong::before {
    content: url('@icons/cross.svg');
    width: 20px;
    filter: brightness(0) saturate(100%) invert(14%) sepia(77%) saturate(3998%) hue-rotate(356deg) brightness(98%) contrast(84%);
}
#result-text-timeout::before {
    content: url('@icons/timer.svg');
    width: 20px;
    filter: brightness(0) saturate(100%) invert(14%) sepia(77%) saturate(3998%) hue-rotate(356deg) brightness(98%) contrast(84%);
}

.alternative-btn {
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    border: var(--color-border) solid 1px;
    font-weight: bold;
    font-size: 1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.alternative-btn.correct {
    border: var(--color-main) solid 1px;
    background: var(--color-main-lighter);
}
.alternative-btn.wrong {
    border: var(--color-alternative-border-wrong) solid 1px;
    background: var(--color-alternative-background-wrong);
}

.alternative-btn-text {
    flex-grow: 1;
    font-size: 1.2rem;
    color: var(--color-text);
    padding: 0 0.5rem;
}

.alternative-btn-letter {
    background: var(--color-alternative-background);
    color: var(--color-alternative-letter);
    padding: 0 0.75rem;
    font-weight: 100;
    height: 100%;
    display: flex;
    align-items: center;
}
.alternative-btn.correct .alternative-btn-letter {
    background: var(--color-alternative-background-correct);
    color: var(--color-main);
}
.alternative-btn.wrong .alternative-btn-letter {
    background: var(--color-alternative-letter-background-wrong);
    color: var(--color-alternative-letter-wrong);
}

.alternative-btn-check {
    background: transparent;
    color: white;
    border-radius: 50%;
    border: var(--color-border) solid 1px;
    padding: 6px;
    height: 1.5rem;
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}
.alternative-btn.correct .alternative-btn-check {
    background: var(--color-main);
    border: var(--color-main) solid 1px;
}
.alternative-btn.wrong .alternative-btn-check {
    background: var(--color-alternative-letter-background-wrong);
    border: var(--color-alternative-letter-background-wrong) solid 1px;
}
.alternative-btn.correct .alternative-btn-check::before {
    content: url('@icons/check.svg');
    font-size: 0;
    aspect-ratio: 1 / 1;
    margin-top: 2px;
}
.alternative-btn.wrong .alternative-btn-check::before {
    content: url('@icons/cross.svg');
    font-size: 0;
    display: flex;
    width: 16px;
    aspect-ratio: 1 / 1;
}

