:root {
    --max-screen-width: 1200px;
    --fade-duration-ms: 500ms;
    --slide-duration-ms: 500ms;

    --color-background: #F5F0EC;
    --color-text: #7D7D7D;
    --color-text-dark: #4F4F4F;
    --color-text-light: #8A8A8A;
    --color-title: #656565;
    --color-main: #AFCEAF;
    --color-main-lighter: #AFCEAF26;
    --color-card-background: #FFFFFF;
    --color-border: #E1E1E1;
    --color-alternative-letter: #CACACA;
    --color-alternative-background: #F5F5F5;
    --color-alternative-letter-correct: var(--color-alternative-background-correct);
    --color-alternative-background-correct: #E4EEE4;
    --color-alternative-letter-wrong: #B71C1C;
    --color-alternative-border-wrong: #E72525;
    --color-alternative-background-wrong: #FFEBEE;
    --color-alternative-letter-background-wrong: #e57e73;

    --color-input-placeholder: #B1B1B1;
    --color-question-progress-background: #E0E0E0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #140f29;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    max-width:100%;
    overflow: hidden;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
}

#leaves-image {
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(2, 2) translate(-22%, 22%);
    filter: blur(2px);
    z-index: -10;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100vh;
    padding: 3rem;
    margin: auto;
}
#view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#keyboards-container {
    width: 100%;
}

.slide-container {
    opacity: 0;
    transform: translateY(-100vh);
    transition: transform var(--slide-duration-ms) ease-in-out;
}
.slide-container.shown {
    opacity: 1;
    transform: translateY(0);
}

.fade-container {
    opacity: 0;
    filter: blur(5px);
    transition:
        opacity var(--fade-duration-ms) ease-in-out,
        filter var(--fade-duration-ms) ease-in-out;
}
.fade-container.shown {
    opacity: 1;
    filter: blur(0px);
}


