<section id="admin-container">
    <div id="admin-menu-container">
        <button id="admin-questions-btn" class="btn btn-md btn-blue">Perguntas</button>
        <button id="admin-configuration-btn" class="btn btn-md btn-blue">Configurações</button>
        <button id="export-players-info-to-csv-btn" class="btn btn-md btn-blue">Exportar Jogadores</button>
        <button id="admin-exit-btn" class="btn btn-md btn-red">Sair</button>
    </div>

    <div id="admin-content-container">
        <section id="admin-questions-container">
            <h1>Perguntas</h1>

            <div id="admin-questions-input-container">
            </div>

            <div class="form-row">
                <button id="admin-add-question-btn" class="btn btn-md btn-blue">Adicionar</button>
                <button id="admin-save-questions-btn" class="btn btn-md btn-blue">Salvar</button>
            </div>
        </section>

        <section id="admin-configuration-container">
            <h1>Configurações</h1>

            <div id="admin-configurations-input-container">
            </div>

            <button id="admin-save-configurations-btn" class="btn btn-md btn-blue">Salvar</button>
        </section>
    </div>
</section>