<section id="final-results-view-container" class="fade-container">
    <div class="card">
        final results
    </div>

    <button id="play-again-button" class="btn">Jogar novamente</button>
</section>

