<section id="main-menu-container" class="centered-container fade-container">
    <h1 id="main-menu-title">Kerakoll - Quiz</h1>

    <div id="main-menu-button-container">
        <button id="start-game-btn" class="btn-blue">Start Game</button>
        <button id="exit-game-btn" class="btn-blue">Exit</button>
    </div>
</section>