<section id="main-menu-container">
    <h1>Animal - Quiz</h1>

    <div>
        <button id="start-game-btn" class="btn-blue">Start Game</button>
        <button id="exit-game-btn" class="btn-blue">Exit</button>
    </div>
</section>