<section id="form-container">
    <div id="form-content-container">
        <div>
            <div class="form-item">
                <label for="email-input" class="input-label">Email</label>
                <input id="email-input" class="text-input" type="text" placeholder="Seu e-mail">
            </div>
            <div class="form-item">
                <label for="phone-input" class="input-label">Telefone:</label>
                <input id="phone-input" class="text-input" type="text" placeholder="Seu telefone">
            </div>
        </div>

        <div class="form-row form-container-buttons">
            <input id="submit-btn" class="btn btn-md btn-blue" type="button" value="Confirmar">
            <input id="cancel-btn" class="btn btn-md btn-locked" type="button" value="Cancelar">
        </div>
    </div>

    <div id="form-keyboards-container">
        <div class="simple-keyboard alphanumeric-keyboard"></div>
        <div class="simple-keyboard numeric-keyboard"></div>
    </div>
</section>