<div id="form-container" class="fade-container">
    <div>
        <input id="name-input" class="text-input" type="text" placeholder="Seu nome">
        <input id="email-input" class="text-input" type="text" placeholder="Seu e-mail">
        <input id="phone-input" class="text-input" type="text" placeholder="Seu telefone">
        <div class="check-box-item">
            <input id="terms-check-box" type="checkbox">
            <label for="terms-check-box">Termos e condições</label>
        </div>
        <div class="check-box-item">
            <input id="offers-check-box" type="checkbox">
            <label for="offers-check-box">Aceito que a Kerakoll me envie novidades e ofertas</label>
        </div>
    </div>

    <input id="submit-btn" class="btn" type="button" value="Confirmar">
</div>
