<section id="questions-view-container" class="fade-container">
    <div id="time-progress-container">
        <div id="time-progress"></div>
    </div>

    <div class="card">
        <div id="current-question-top-display-container">
            <div id="current-question-top-display-bold">
                <span>Pergunta</span>
                <span id="question-top-display-current"></span>
            </div>
            <div id="current-question-top-display-thin">
                <span>de</span>
                <span id="question-top-display-amount"></span>
            </div>
        </div>

        <span id="question-text"></span>

        <section id="alternatives-container">
            <div id="alternative-1" class="alternative-btn">
                <span class="alternative-btn-letter">A</span>
                <span class="alternative-btn-text"></span>
                <span class="alternative-btn-check">
                    <img class="alternative-btn-check-icon" src="" />
                </span>
            </div>
            <div id="alternative-2" class="alternative-btn">
                <span class="alternative-btn-letter">B</span>
                <span class="alternative-btn-text"></span>
                <span class="alternative-btn-check">
                    <img class="alternative-btn-check-icon" src="" />
                </span>
            </div>
            <div id="alternative-3" class="alternative-btn">
                <span class="alternative-btn-letter">C</span>
                <span class="alternative-btn-text"></span>
                <span class="alternative-btn-check">
                    <img class="alternative-btn-check-icon" src="" />
                </span>
            </div>
        </section>

        <div id="result-text-container">
            <div id="result-text-correct">
                <img src="<%= require('@icons/check.svg') %>" alt="result-symbol" />
                <span>Você Acertou!</span>
            </div>
            <div id="result-text-wrong">
                <img src="<%= require('@icons/cross.svg') %>" alt="result-symbol" />
                <span>Você Errou!</span>
            </div>
            <div id="result-text-timeout">
                <img src="<%= require('@icons/timer.svg') %>" alt="result-symbol" />
                <span>Acabou o tempo!</span>
            </div>
        </div>
    </div>

    <div id="question-progress-container">
        <div id="question-progress-bar-container">
            <div id="question-progress-bar"></div>
        </div>

        <div id="current-question-container">
            <span id="current-question"></span>
            <span>/</span>
            <span id="question-amount"></span>
        </div>
    </div>

    <div id="curiosities-container">
        <img id="curiosities-icon" src="<%= require('@icons/info.svg') %>" alt="curiosities-icon">
        <div>
            <h3 id="curiosities-header">Curiosidades</h3>
            <p id="curiosities-text"></p>
        </div>
    </div>
</section>